<div
  class="about-wrapper flex justify-content-center flex-column align-items-start"
>
  <div class="numbered-heading">
    <p class="about-me">About Me</p>
  </div>
  <div class="about-content row">
    <div class="text-container col-lg-7">
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Id venenatis a
        condimentum vitae sapien pellentesque habitant morbi tristique. Fusce id
        velit ut tortor pretium viverra suspendisse potenti nullam.
      </p>
      <p class="about-text">
        Sed viverra ipsum nunc aliquet. Nunc mi ipsum faucibus vitae aliquet nec
        ullamcorper. Aliquam vestibulum morbi blandit cursus risus at ultrices.
        Nisi vitae suscipit tellus mauris a diam maecenas. Pellentesque massa
        placerat duis ultricies lacus sed turpis.
      </p>
      <p class="about-text">
        Ullamcorper sit amet risus nullam eget. Volutpat lacus laoreet non
        curabitur gravida. Pulvinar neque laoreet suspendisse interdum
        consectetur libero id.
      </p>
      <p class="about-text">
        Elementum eu facilisis sed odio morbi quis commodo odio:
      </p>
      <ul class="skills-list">
        <li>Angular</li>
        <li>RxJS</li>
        <li>Typescript</li>
        <li>JavaScript (ES6+)</li>
        <li>SQL</li>
      </ul>
    </div>
    <div class="image col-lg-5">
      <div class="image-wrapper">
        <img src="/assets/om.jpg" alt="Ognjen Medic" />
      </div>
    </div>
  </div>
</div>
