<div class="hero flex justify-content-center flex-column align-items-start">
  <div class="greeting">
    <p class="greeting-text">Hi, my name is</p>
  </div>
  <div class="big-heading1">
    <p>Ognjen Medic.</p>
  </div>
  <div class="big-heading2">
    <p>I am a web developer.</p>
  </div>
  <div class="intro">
    <p class="intro-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Imperdiet nulla
      malesuada pellentesque elit eget gravida. Ipsum dolor sit amet
      consectetur.
    </p>
  </div>
  <div class="check-out">
    <p>Check out my projects!</p>
  </div>
</div>
