<div
  class="projects-wrapper flex justify-content-center flex-column align-items-start"
>
  <div class="numbered-heading">
    <p class="projects">Projects I've Built</p>
  </div>
  <div class="project-content row">
    <div class="col-xl-6">
      <img class="image" src="/assets/ecommerce.png" alt="" />
    </div>
    <div class="project-info col-xl-6 text-end">
      <div>
        <p class="project-overline">Featured Project</p>
        <a href="" class="project-title">eCommerce App</a>
        <div class="project-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <ul class="project-tech-list">
          <li>Angular</li>
          <li>RxJS</li>
          <li>Tailwindcss</li>
          <li>Amazon S3</li>
          <li>Heroku</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- myDoc -->
  <div class="project-content row">
    <div class="project-info col-xl-6 order-2 order-xl-1 text-start">
      <div>
        <p class="project-overline">Featured Project</p>
        <a href="" class="project-title">Health App</a>
        <div class="project-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <ul class="project-tech-list-health">
          <li>Angular</li>
          <li>RxJS</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-6 order-1 order-xl-2">
      <img class="image" src="/assets/myDoc-health-app.png" alt="" />
    </div>
  </div>
</div>
